.gT {
  /*background-color: #CECCCD;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

#out {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  height: 55vh;
  /*
  background-color: white;
  border-radius: 20px;
  text-align: center;
   */
  padding-top: 2.8%;

}

mat-card {
}

.timez {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 12%;
  border-radius: 10px;
  margin: 2% auto;

  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.timez:last-of-type {

}

.tBh {
  background-color: #A2E1DB;
}

#tSr {
  background-color: #FED7C3;
}

#tGh {
  background-color: #FFC8A2;
}

#tSs {
  background-color: #FED7C3;
}

#tZ {
  background-color: #D4F0F0;
}
