.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.map-container1 {
  margin: auto;
  width: 85%;
}

#map1 {
  height: 50vh;
  width: 100%;
}

.content{
  margin: auto;
  width: 80vw;
  margin-top: 2vh;
}

.wrapper{
  width: 100%;
  margin: 0;
  padding: 0;
}

form{
  width: 80%;
  height: 70vh;
  margin: auto;
}

#app-map{
  width: 100%;
}
