<div class="content">
  <div class="wrapper">
    <div class="list-content">
      <mat-card *ngFor="let location of getAllLocations()" (click)="showLocationDetail(location)" style="width: 100%">

        <mat-card-content>
          <h2 style="">{{location.name}}</h2>
          <p>{{location.description}}</p>
          <p style="background-color: #B6F2E7; border-radius: 10%; display: inline-block; padding: 0.3%">
            {{location.tag}}
          </p>
        </mat-card-content>

      </mat-card>

    </div>
    <app-map></app-map>
    <button mat-raised-button class="btn-toolbar" style="visibility: hidden">add location</button>
  </div>
  <button mat-raised-button class="btn-toolbar" routerLink="/add-location">add location</button>
</div>
