<div class="content">

  <div class="post">
    <h1>{{post.title}}</h1>
    <h3>written by {{post.author.username}} on the {{post.dateOfCreation}}</h3>

    <p>{{post.markdownContent}}</p>

  </div>

  <div class="comments">
    <h3>Comments ({{getPostComments().length}})</h3>

    <div *ngFor="let comment of getPostComments()" class="col-12 z-de"
         style="cursor: pointer">

      <p>{{comment.content}}</p>
      <p>commented by {{comment.author.username}}</p>
    </div>
  </div>

</div>
