.content{
  width: 75%;
  margin: auto;
}

.post{
  margin-bottom: 1%;
  border-bottom: #343a40 1px solid;
}

.commentsection{
  border-top: #343a40 1px solid;
  padding-top: 1%;
  margin-bottom: 5%;
}

.post-content{
  min-height: 40vh;
  margin-top: 1%;
}
