table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

*{
  margin: 0;
}

.content{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

mat-card{
  width: 32.5%;
  margin: 1%;
}
