<mat-card id="wrapper">
  <mat-card-title>Hello {{user.firstName}}!</mat-card-title>
  <mat-card-content>
    <div class="grid-container">
      <div class="pic">
        <img src="{{user.imageUrl}}" width="100%" style="border-radius: 50%;">
      </div>
      <div class="userBool">
        <div class="user">
          <p id="username">{{user.username}}</p>
          <p style="text-align: center"> 📍 {{user.city}}, {{user.country}}</p>
        </div>
        <div class="bool">
          <div id="innerbool">
            <div class="element" id="pg" [ngClass]="{isPhotographer:user.photographer}">
              <p class="elementTxt">Photographer</p>
            </div>
            <div class="element" id="md" [ngClass]="{isModel:user.model}">
              <p class="elementTxt">Model</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bio">
        <div id="biotxt">
          <b>Biography:</b> <br>
          {{user.biography}}
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <h2>My Photoshootings ({{user.photoShootingsInvolvedIn.length}})</h2>

    <app-photoshooting-list [user]="user"></app-photoshooting-list>

    <br>
    <hr>
    <br>

    <app-photoshooting-invites [user]="user"></app-photoshooting-invites>
  </mat-card-content>
</mat-card>