<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="z-index: 10;" >
  <ul class="navbar-nav mr-auto" >

    <li class="nav-item active">
      <a routerLink="/" class="nav-link" style="font-size: 120%">Home</a>
    </li>

    <li class="nav-item active">
      <a routerLink="/photographer-list" class="nav-link" style="font-size: 120%">Photographers</a>
    </li>

    <li class="nav-item active">
      <a routerLink="/model-list" class="nav-link" style="font-size: 120%">Models</a>
    </li>

    <li class="nav-item active">
      <a routerLink="/times" class="nav-link" style="font-size: 120%">Times</a>
    </li>

    <li class="nav-item active">
      <a routerLink="/location-list" class="nav-link" style="font-size: 120%">Locations</a>
    </li>

    <li class="nav-item active">
      <a routerLink="/post-list" class="nav-link" style="font-size: 120%">Forum</a>
    </li>

    <li class="nav-item" style="position: relative; right: -1%;">
      <button class="btn btn-outline-success" id="expbtn" routerLink="explore">Explore</button>
    </li>

    <li class="nav-item" style="position: absolute; right: 5%;">
      <a routerLink="/add-photoshooting" class="nav-link" style="font-size: 120%">Create a Photoshooting</a>
    </li>

    <li class="nav-link">
      <a routerLink="/my-profile" >
        <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
      </a>
    </li>

  </ul>
</nav>
