ul{
  float: right;
}

mat-icon {
  color: #c8c8c8;
  font-size: 2.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  right: 2%;
}

a {
  white-space: nowrap;
}

nav{
  margin-bottom: 2%;
}

#expbtn{
  border-color: #B6F2E7 !important;
  color: #B6F2E7;
}

#expbtn:hover{
  border-color: #B6F2E7 !important;
  background-color: #B6F2E7;
  color: white;
}
#expbtn:focus{
  box-shadow:0 0 0 .2rem rgba(182,242,231,.5) !important;
}
