ul{
  float: right;
}

mat-icon {
  color: #c8c8c8;
  font-size: 2.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  right: 2%;
}

a {
  white-space: nowrap;
}

nav{
  margin-bottom: 2%;
}
