*{
  padding: 0;
  color: #343a40;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
  /*background-image: url("images/homepage_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
  overflow: hidden;
}

h1{
  font-weight: bold;
  font-size: 8vh;
  line-height: 8vh;
}

p{
  font-size: 3vh;
  line-height: 3.5vh;
}

#welcome_text{
  padding-top: 25vh;
  padding-left: 13vh;
  width: 35vw;
  height: 100vw;
}

.ghost-button {
  display: inline-block;
  width: 7vw;
  min-width: 20vh;
  font-weight: bold;
  font-size: 2.5vh;
  padding: 8px;
  border: 3px solid #343a40;
  border-radius: 3vh;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
  color 0.2s ease-out;
  background-color: rgba(0,0,0,0);
}
.ghost-button:hover{
  background-color: #343a40;
  color: #f9e5e7;
  transition: background-color 0.3s ease-in,
  color 0.3s ease-in;
}

#illust{
  width: 80vw;
  height: 80%;
  position: absolute;
  top: 13%;
  right: -20%;
  background-image: url("images/homepageIllustration.png");
  background-repeat: no-repeat;
  /*background-size: cover;
  overflow: hidden;*/
  background-size: contain;

}
