<mat-card>

  <mat-card-title>Create a Photoshooting</mat-card-title>

  <mat-card-content>
    <form class="wrapper" [formGroup]="shootingForm">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>

    <br>

    <app-select-users (updateUserList)="updateUserList($event)"></app-select-users>
    <app-select-location (updateLocationList)="updateLocationList($event)"></app-select-location>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button [disabled]="!shootingForm.valid || !listsValid()" (click)="onSubmit()">submit</button>
  </mat-card-actions>

</mat-card>
