<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
</style>

<div class="wrap">
  <div class="logo">
    <h1>404</h1>
    <p> Sorry - File not Found!</p>
    <div class="sub">
      <p><a href="#"> Back to Home</a></p>
    </div>
  </div>
</div>
<div class="footer">
  &copy;
  <script type="text/javascript">
    document.write(new Date().getFullYear());
  </script> Funky 404 . All Rights Reserved | Design by
  <a href="http://404Pagefree.com">404Pagefree</a>
</div>
