<h2>Invites from:</h2>
<mat-list>
    <mat-list-item *ngFor="let invite of invites">
        <div class="item">
            <span>
                {{ invite.title }} from {{ invite.sender }} at {{ invite.dateOfPhotoShooting | date }} in {{
                invite.location
                }}
            </span>
            <div>
                <button mat-stroked-button color="warn" (click)="reject(invite)">Reject</button>
                <button mat-stroked-button color="primary" (click)="accept(invite)">Accept</button>
            </div>
        </div>
    </mat-list-item>
</mat-list>